
## j2 templates/data-networking.tf.j2 >>variables.tf

data "terraform_remote_state" "infra" {
  backend = "s3"

  config = {
    bucket       = "{{ AWS_S3_BACKEND }}"
    key          = "env:/${terraform.workspace}/{{ AWS_S3_BACKEND_KEY }}"
    region       = "{{ AWS_REGION }}"
    encrypt      = true
    use_lockfile = true
  }
}
